#landbot-app {
  max-height: 100vh;
  background-color: transparent;
}

.chat-container {
  width: 425px;
  height: calc(100vh - 3rem - 3rem);
  margin: 0 auto;
}

.landbot-chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--chat-border-radius);
  background-color: var(--dark-blue);
}